{% extends 'base.html' %}

{% block header%}
<div class="alert alert-primary" role="alert">
  <h3>従業員詳細</h3>
</div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class='container'>
  <form action="{% url 'update' worker.pk %}" method="POST">{% csrf_token %}
  <div class="alert alert-success" role="alert">
    <p>名前：{{ form.worker_name }}
    <p>マネージャー{{ form.manager }}</p>
    <p>work_day0{{ form.work_day0 }}</p>
    <p>work_day0{{ form.work_day1 }}</p>
    <p>work_day0{{ form.work_day2 }}</p>
    <p>work_day0{{ form.work_day3 }}</p>
    <p>work_day0{{ form.work_day4 }}</p>
    <p>work_day0{{ form.work_day5 }}</p>
    <p>work_day0{{ form.work_day6 }}</p>
    <p>work_day0{{ form.work_day7 }}</p>
    <p>work_day0{{ form.work_day8 }}</p>
    <p>work_day0{{ form.work_day9 }}</p>
    <input type="hidden" name="employer" value="{{user.username}}">
  <button class="btn btn-primary" type="submit">更新</button>
  </form>
  <form method="post" action="{% url 'delete' worker.pk %}">{% csrf_token %}
  <button class="btn btn-primary" type="submit"  onclick='return confirm("本当に削除しますか？");'>削除</button>
  </form>     
  </div>  
  <a href="{% url 'logout' %}" class="btn btn-primary" >logout</a>
</div>
{% else %}
please login
{% endif %}
{% endblock content%}

